ul {
  li {
    display: flex;
    background-color: @gray;
    margin: @base-margin;
    span {
      font-weight: bold;
      margin-left: @base-margin;
      margin-right: @base-margin;
    }
    h4 {
      margin-top: 0px;
    }
  }
}
