@import 'variables';
header {
  text-align: center;
  width: 100%;
  //float: left;
  background-color: @white;
  img {
    .image-size();
    border-radius: 50%;
    margin-top: -75px;
  }
  h1 {
    margin: @base-margin / 2;
  }
  h2 {
    margin: @base-margin / 2;
  }
}
