@import 'variables';

html {
  font-size: @base-font-size;
}

body {
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main {
  background-color: @white;
  margin: 80px 100px 75px 100px;
  padding-bottom: 20px;
  h3 {
    margin: @base-margin;
    color: red;
  }
  #about-me {
    margin: @base-margin;
  }
}
